:root {
  --bg-primary: #333333;
  --primary: #FCFAF9;

  --bg-secondary: #FCFAF9;
  --secondary: 333333;

  --bg-info: #d1ecf1;
  --info: #062c33;

  --bg-warning: #fff3cd;
  --warning: #533f03;

  --bg-success: #d4edda;
  --success: #1a5b29;

  --bg-danger: #F3D3BD;
  --danger: #79252d;

/*   --bg-danger: #f8d7da;
  --danger: #79252d;
 */}
